In [57]:
record= {
    1000 : {"item": "orange juice" , "price" : 80 , "quantity" : 30  },
    1001 : {"item": "choclatecake" , "price" : 80 , "quantity" : 100 },     
    1002 : {"item": "kitkat" , "price" : 40 , "quantity" : 10 }, 
    1003 : {"item": "oreo" , "price" : 10 , "quantity" : 100 }, 
    1004 : {"item": "coffee" , "price" : 10 , "quantity" : 100 }, 
    1005 : {"item": "tea" , "price" : 10 , "quantity" : 100 }, 
}

In [2]:
import json

In [42]:
fd=open("record.json","r")
r=fd.read()
fd.close()

In [39]:
record

{1000: {'item': 'orange juice', 'price': 80, 'quantity': 30},
 1001: {'item': 'choclatecake', 'price': 80, 'quantity': 100},
 1002: {'item': 'kitkat', 'price': 40, 'quantity': 10},
 1003: {'item': 'oreo', 'price': 10, 'quantity': 100},
 1004: {'item': 'coffee', 'price': 10, 'quantity': 100},
 1005: {'item': 'tea', 'price': 10, 'quantity': 100}}

# New Section

In [58]:
pro_id = int(input("Enter product_id:"))
item = str(input("Enter name of item:"))  #add new item in inventory
price = int(input("Enter Quantity:"))
quantity = int(input("Enter Quantity:"))

Enter product_id:1006
Enter name of item:icecreame
Enter Quantity:20
Enter Quantity:30

In [63]:
record[pro_id]= {'item': item, 'price': price, 'quantity': quantity }

In [64]:
record

{1000: {'item': 'orange juice', 'price': 80, 'quantity': 30},
 1001: {'item': 'choclatecake', 'price': 80, 'quantity': 100},
 1002: {'item': 'kitkat', 'price': 40, 'quantity': 10},
 1003: {'item': 'oreo', 'price': 10, 'quantity': 100},
 1004: {'item': 'coffee', 'price': 10, 'quantity': 100},
 1005: {'item': 'tea', 'price': 10, 'quantity': 100},
 1006: {'item': 'icecreame', 'price': 20, 'quantity': 30}}

purchase

In [66]:
pro_id=int(input("enter product id"))
quantity=int(input("enter quantity"))
record[pro_id]

enter product id1004
enter quantity1

{'item': 'coffee', 'price': 10, 'quantity': 100}

finding product in **inventory**

In [67]:
pro_id=int(input("enter product id"))
quantity=int(input("enter quantity"))

product = record.get(pro_id)

if product:
  print('product name: ',product.get('item'))
  print('price per unit: ', product.get('price'))
  print('amount to be paid: ', ui_quantity*product.get('price'))
  product['quantity']-=ui_quantity
else:
  print('product not found')

enter product id1007
enter quantity2
product not found